<!DOCTYPE html>
<html layout:decorate="~{layout/layout}" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Employee Add</title>
</head>
<body>
<div layout:fragment="content">
<h3>Create Employee</h3>
<form th:action="@{/employee/add}" method="post" th:object="${employee}">
    <label>Name: </label>
    <p th:if="${#fields.hasErrors('name')}" th:errorclass="error" th:errors="*{name}"></p>
    <input type="text" th:field="*{name}" name="name" placeholder="name"><br>
    <label>Email: </label>
    <p th:if="${#fields.hasErrors('email')}" th:errorclass="error" th:errors="*{email}"></p>
    <input type="text" name="email" th:field="*{email}" placeholder="Email"><br>
    <label>Department: </label>
    <select  th:field="*{departmentId}">
        <th:block th:each="department :${departments}">
            <option th:value="${department.id}" th:text="${department.name}"></option>
        </th:block>
    </select><br>
    <label>Role: </label>
    <select name="role" th:field="*{role}">
        <th:block th:each="role :${roles}">
            <option th:value="${role.id}" th:text="${role.name}"></option>
        </th:block>
    </select><br>
    <button type="submit">Create</button>
</form>
</div>
</body>
</html>