<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>
<div th:insert="~{header.html}"></div>
<h3>Create Employee</h3>
<form th:action="@{/employee/create}" method="post">
    <p th:if="${message !=null}" th:text="${message}" style="color: chartreuse"></p>
    <label>Name: </label>
    <input type="text" name="name" placeholder="name"><br>
    <label>Email: </label>
    <input type="text" name="email" placeholder="Email"><br>
    <label>Department: </label>
    <select name="depart">
        <th:block th:each="department :${listDepartment}">
            <option th:value="${department.id}" th:text="${department.name}"></option>
        </th:block>
    </select><br>
    <label>Role: </label>
    <select name="role">
        <th:block th:each="role :${role}">
            <option th:value="${role.id}" th:text="${role.name}"></option>
        </th:block>
    </select><br>
    <button type="submit">Create</button>
</form>
<footer th:insert="~{footer.html}"></footer>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</html>