<!DOCTYPE html>
<html layout:decorate="~{layout/layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>Employee Detail</title>
</head>
<body>
<div layout:fragment="content">
<h3 style="text-align: center">Detail</h3>
<h4 th:if="${massage !=null}" th:text="${massage}" style="color: red"></h4>
<div th:unless="${massage != null}" style="max-width: 500px ; border: 1px">
    <h4 th:text="${employee.name}"></h4>
    <p>Email: <span th:text="${employee.email}"></span> </p>
    <p>department: <span th:text="${employee.departmentName}"></span> </p>
</div>
</div>
</body>
</html>