<!DOCTYPE html>
<html layout:decorate="~{layout/layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>Department Add</title>
</head>
<body>
<div layout:fragment="content">
<h3>Create Department</h3>
<form th:action="@{/department/add}" method="post">
    <p th:if="${message !=null}" th:text="${message}" style="color: chartreuse"></p>
    <label>Name:</label>
    <input type="text" name="name" placeholder="name"><br>
    <label>Description</label>
    <input type="text" name="description" placeholder="Description"><br>
    <button type="submit">Create</button>
</form>
</div>
</body>
</html>