<!DOCTYPE html>
<html layout:decorate="~{layout/layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>Department Detail</title>
</head>
<body>
<div layout:fragment="content">
<h3 style="text-align: center">Detail</h3>
<h4 th:if="${message !=null}" th:text="${message}" style="color: red"></h4>
<div th:unless="${message != null}" style="max-width: 500px ; border: 1px">
    <h4 th:text="${department.name}"></h4>
    <p>description: <span th:text="${department.description}"></span> </p>

</div>
</div>
</body>
</html>