<!DOCTYPE html>
<html layout:decorate="~{layout/layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>Department Edit</title>
</head>
<body>
<div layout:fragment="content">
<h3>Update</h3>
<form th:action="@{/department/edit}" method="post">
    <p th:if="${message !=null}" th:text="${message}" style="color: chartreuse"></p>
    <input th:value="${department.id}" name="id" type="hidden"><br>
    <label>Name:</label>
    <input type="text" name="name" th:value="${department.name}" placeholder="name"><br>
    <label>Description</label>
    <input type="text" th:value="${department.description}" name="description" placeholder="Description"><br>
    <button type="submit">Upload</button>
</form>
</div>
</body>
</html>