<!DOCTYPE html>
<html layout:decorate="~{layout/layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>Department Manager</title>
</head>
<body>
<div layout:fragment="content">
<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>STT</th>
        <th>Name</th>
        <th>Description</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>Detail</th>
    </tr>
    </thead>
    <tbody th:each="department,state : ${departments}">
    <tr>
        <td th:text="${state.count}"></td>
        <td th:text="${department.name}"></td>
        <td th:text="${department.description}"></td>
        <td><a th:href="@{'/department/edit/'+${department.id}}">
            <button>Edit</button>
        </a></td>
        <td><a th:href="@{'/department/delete/'+${department.id}}">
            <button>Delete</button>
        </a></td>
        <td><a th:href="@{'/department/detail/'+${department.id}}"><button>Detail</button></a></td>
    </tr>
    </tbody>
</table>
</div>
</body>
</html>